<section class="about-intro">
    <div class="wrapper">
        <div class="img-hover-container">
            <div class="image-hover">
                <img src="https://source.unsplash.com/IEO7Rr-1uYM/">
            </div>
        </div>
    </div>
</section>

<section class="about ">
    <div class="wrapper">
        <div class="left">
            <h2>What you see <br> is what you get.</h2>

            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Labore, vero. Eaque necessitatibus vitae delectus dolorum 
                error similique quo cum ratione architecto. Quidem incidunt 
                laborum quibusdam rem voluptates quas atque iure?
            </p>
        </div>
    
        <div class="right">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis unde excepturi corrupti voluptate sit atque maxime aliquid quod! In culpa dolorum sapiente quibusdam maxime quasi ut eius natus ad reprehenderit. <br><br>
                Earum, eligendi voluptatibus praesentium rem obcaecati, facere inventore maxime aliquam atque, tenetur possimus at vitae? Officia aliquid dolorum ipsum reprehenderit unde maxime ipsa eaque natus sunt, quis totam quisquam at!
                Voluptates molestiae reiciendis a exercitationem amet neque ipsam rerum repudiandae explicabo, modi quod doloremque eius debitis asperiores quaerat animi at blanditiis, aliquam nihil atque. Sed sequi reprehenderit quam sint veniam.
            </p>
        </div>
    </div>
</section>