<header class="main">
    <div class="wrapper">
        <div class="intro">
            <h1>Hello, my name is John. <br>
            I'm a designer living on Earth.</h1>

            <p>
                Currently I'm studying communication design 
                at the University of Applied Sciences in Berlin. 
                Besides university, I work as a user interface 
                designer for <a href="">Native Instruments</a>. 
                <br><br> Click on one of the projects to see some of my 
                selected work.
            </p>
        </div>

        <div class="img-hover-container">
            <div class="image-hover">
                <img src="https://source.unsplash.com/IEO7Rr-1uYM/">
            </div>
        </div>
    </div>
</header>

<section class="project-previews wrapper">
    <h2>Side Projects</h2>

    <ul class="project-preview-list">
        <li class="project-listitem purple">
            <p>
                Together with my good friend <a href="">Joshu Sohn</a>
                I record a German podcast about deisgn and our lives
                called <a href="">Design and Feelings</a>.
            </p>

            <div class="divider"></div>

            <a href="">Case Study</a>
        </li>

        <li class="project-listitem red">
            <p>
                Occasionally, I write for a blog called <a href="">Prettystufff</a>, 
                showcasing hand-selected work from the field of art, design, illustration 
                and photography.
            </p>

            <div class="divider"></div>

            <a href="">Case Study</a>
        </li>

        <li class="project-listitem blue">
            <p>
                I run a Tumblr blog called <a href="">Dancing Objects</a> where I post 
                my explorations in 3D and motion design.
            </p>

            <div class="divider"></div>

            <a href="">Case Study</a>
        </li>

        <%= link_to "See all", projects_path, class: "button" %>
    </ul>
</section>