<section class="projects">
    <ul class="projects-list wrapper">
        <li class="list-item">
            <a href="#">
                <img src="#" alt="">
            </a>

            <a href="">
                <h3>The One</h3>
            </a>
        </li>

        <li class="list-item">
            <a href="#">
                <img src="#" alt="">
            </a>

            <a href="">
                <h3>People</h3>
            </a>
        </li>

        <li class="list-item">
            <a href="#">
                <img src="#" alt="">
            </a>

            <a href="">
                <h3>Lorem</h3>
            </a>
        </li>

        <li class="list-item">
            <a href="#">
                <img src="#" alt="">
            </a>

            <a href="">
                <h3>Interstellar</h3>
            </a>
        </li>
    </ul>
</section>